<?xml version="1.0" encoding="UTF-8"?>
<!-- parallel="packages" 并行执行-->
<suite name="test-parameter">
    <test name="examplel">
<!--               1 <classes>-->
<!--                    <class name="com.hxk.online.TestDemo"/>-->
<!--                 </classes>-->
        <!--如果有多个测试类，就写在这里，格式：包名.测试类名-->
        <packages>
            <package name="com.hxk.online" />
            <package name="com.hxk.online.course" />
            <package name="com.hxk.online.sale" />
        </packages>

        <listeners>
            <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        </listeners>
    </test>
</suite>